@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: #90e0f3;
  font-family: "Playwrite US Trad", system-ui;
}

button {
  text-align: center;
  font-family: inherit;
  border: 7px groove #b8b3e9;
  text-shadow: -3px 4px 3px #7f7ca1;
}

.main__game {
  display: flex;
  flex-flow: column nowrap;
  background-color: #d17b88;
  flex-grow: 1;
  justify-content: space-around;
  border: 20px double #90e0f3;
  border-radius: 20px;
  align-items: center;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.main__game > h1 {
  color: black;
  background-color: white;
  text-shadow: -3px 4px 3px #7f7ca1;
  text-align: center;
  border: 7px groove #b8b3e9;
  border-radius: 10px;
  display: block;
  width: 85.34%;
  font-size: 1.6rem;
  margin-top: 1.7%;
}

.main__input {
  height: 50.67vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.main__input > p {
  color: white;
  font-size: 2rem;
}

input {
  border: 7px groove #b8b3e9;
  border-radius: 10px;
}

p input {
  font-size: 1.332rem;
  font-family: inherit;
}

.input__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 95.67%;
  height: 20.23vw;
  margin-top: 3.21vh;
}

.special__button {
  background-color: white;
  border: 10px double black;
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 2.43%;
}

.special__button > p {
  font-size: 2rem;
}

.select__buttons {
  width: 78%;
  display: none;
  transform-origin: right;
  animation: slide_display 0.5s ease-in-out forwards;
}

@keyframes slide_display {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

:is(.input__buttons:hover, .input__buttons:focus-within) .select__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

:is(.input__buttons:hover, .input__buttons:focus-within) p {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.select__buttons > button {
  height: 75.23%;
  width: 35.21%;
  font-size: 1.2rem;
  border-radius: 30.32%;
}

.main__buttons {
  width: 80.67%;
  height: 15.43vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.main__buttons > button {
  height: 50%;
  width: 75%;
  font-size: 1.7rem;
  border-radius: 10px;
}

@media (orientation: landscape) {
  .main__game > h1 {
    margin-top: 0.2%;
  }

  .main__input {
    height: 33.67vh;
  }

  .main__input > p {
    color: white;
    font-size: 1.5rem;
  }

  .input__buttons {
    justify-content: space-evenly;
    align-items: center;
    height: 12.32vh;
  }

  .special__button {
    border: 3px solid black;
    width: 13.21%;
    height: 100%;
  }

  .special__button > p {
    font-size: 1.7rem;
  }

  .select__buttons > button {
    height: 50.23%;
    width: 25.21%;
    font-size: 1.2rem;
    border-radius: 10px;
  }

  .select__buttons > button:last-child {
    height: 13.43vh;
  }

  .main__buttons {
    justify-content: space-between;
  }

  .main__buttons > button {
    height: 58%;
    width: 15.32%;
    font-size: 1.2rem;
    border-radius: 45.21%;
  }
}

